.container {
    background-color: #e2e2e2;
    padding: 10px;
    display: grid;
    height: 100vw;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 10px;
}

.item {
    background-color: tomato;
    padding: 5px;
    color: white;
}

/* Grid placement for item1 using start/end properties */
.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* Grid placement for item2 using shorthand */
.item2 {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}